<%= form_with(model: user_charity, local: true) do |form| %>
  <% if user_charity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_charity.errors.count, "error") %> prohibited this user_charity from being saved:</h2>

      <ul>
      <% user_charity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :charity_name, id: :charity %>
  </div>
  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user, id: :user %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
