<!DOCTYPE html>
<html>
  <head>
    <title>PassTheHat</title>
    <%= csrf_meta_tags %>

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Custom Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

      <!-- Custom CSS -->
      <link href="css/stylish-portfolio.min.css" rel="stylesheet">
      <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    </head>
  <body>
    <%= render 'layouts/navigation'%>
    <%= yield %>
  </body>
</html>
